---
// Back to Top Button Component
// Mobile-only button to scroll back to top of page
---

<button
  id="back-to-top-btn"
  class="back-to-top"
  type="button"
  aria-label="Scroll back to top of page"
  data-i18n-aria-label="header.aria_labels.back_to_top"
  aria-hidden="true"
  tabindex="-1"
>
  <span class="back-to-top-icon" aria-hidden="true">↑</span>
</button>
