---
// Education Section Component
// Educational background
---

<section
  id="education"
  class="education-section"
  aria-labelledby="education-heading"
>
  <div class="container">
    <h2 id="education-heading" data-i18n="education.heading">
      Education
    </h2>
    <div class="education-item">
      <h3 data-i18n="education.degree">B.Sc. Computer Engineering</h3>
      <p data-i18n="education.institution">
        Universidad Estatal a Distancia (UNED), Costa Rica
      </p>
    </div>
  </div>
</section>
